<div class='container'>
  <div class='row'>
	<h1><%= @article.title %></h1>
  </div>
  <div class='row'>
	<div class='col-sm-2'></div>
	<div class='col-sm-8'>
	  <p><%= @article.text %></p>
	</div>
  </div>
	<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary' %> |
	<%= link_to 'Back', articles_path, class: 'btn btn-danger' %>
  </div>
